nao_app_homepage:
    path:     /
    defaults: { _controller: NAOAppBundle:App:index }

login:
    path: /login
    defaults: { _controller: NAOAppBundle:Security:login }

logout:
    path: /logout

registration:
    path: /register
    defaults: { _controller: NAOAppBundle:Security:register }

nao_back_office_observations:
    path:     /backoffice/mes-observations
    defaults: { _controller: NAOAppBundle:App:observations }

nao_back_office_add:
    path:   /backoffice/ajouter
    defaults: { _controller: NAOAppBundle:App:add }

nao_back_office_confirmation:
    path:   /confirmation-compte/{id}-{username}-{email}
    defaults: { _controller: NAOAppBundle:Security:confirmationAccount }

nao_back_office_validations:
    path:   /backoffice/validations
    defaults: { _controller: NAOAppBundle:App:validations }

nao_back_office_post_validations:
    path:   /backoffice/validations/{id}
    defaults: { _controller: NAOAppBundle:App:postValidations }

nao_back_office_account:
    path:   /backoffice/mon-compte
    defaults: { _controller: NAOAppBundle:App:account }

nao_back_office_admin:
    path:   /backoffice/admin
    defaults: { _controller: NAOAppBundle:App:admin }

nao_back_office_admin_add:
    path:   /backoffice/admin-ajouter
    defaults: { _controller: NAOAppBundle:App:adminadd }
