<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirmation</title>
    </head>
    <body>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
    </body>
</html>
