
/*******************************************
General
*******************************************/
body {
    padding-top: 50px;
    background-color: #3498db;
    color: #ffffff;
}
img {
    height: 100%;
}
html, body {
    height: 100%;
}
.row {
    margin: 0;
}
.alert {
    border-radius: 0px;
}

.form-control {
    border-radius: 0;
}
.btn {
    border-radius: 0;
}
.bouton-fonce {
    border: 3px solid #2c3e50;
    background-color: #2c3e50;
    color: #fff;
}
.bouton-fonce:hover, .bouton-fonce:focus, .bouton-fonce:active {
    border: 3px solid #2c3e50;
    background-color: #fff;
    color: #2c3e50;
}
.dropdown-menu {
    border-radius: 0;
}
a:focus, a:hover {
    text-decoration: none;
    color: #3498db;
}
/*******************************************
App Layout
*******************************************/
.navbar-nav {
    margin:0;
}

.navbar-toggle {
    border-radius: 0px;
    border: 2px solid;
}

.navbar-default {
    background-color: #fff;
    color: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
    padding: 10px;
    margin: 5px 5px;
    color: #2c3e50;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-brand {
    margin-left: 20px;
    padding: 10px;
    width: 90px;
}

.navbar-brand img {
    width: 100%;
}

.navbar-default li:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: #3498db;
    color: #ffffff;
}

footer {
    padding: 40px 0px;
    background-color: #2c3e50;
}

.contenu {
    margin-bottom: 20px;
    min-height: 80vh;
}

.container  {
    height: 100%;
    padding: 0;
}

/*******************************************
BackOffice Layout
*******************************************/
.navbar-inverse .navbar-toggle {
    border: 2px solid #ffffff;
    border-radius: 0px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
    background: #2c3e50;
}

.navbar-inverse {
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    padding: 10px;
    margin: 5px 5px;
    color: #ffffff;
}

.navbar-left {
    margin-left: 50px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #2c3e50;
}

.navbar-inverse li:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background: #ffffff;
    color: #2c3e50;
}

.contenu-back {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 80vh;
    background: #c0392b;
    color: #2c3e50;
}

/*******************************************
Home
*******************************************/

.intro {
    height: 400px;
    width: 100%;
    background-color: #2c3e50;
    margin-bottom: 40px;
    padding: 30px;
}

.bloc-blanc {
    padding: 20px;
    background-color: #fff;
    color: #2c3e50;
}

.map-bloc {
    padding: 30px;

}

.filtre, .bloc-sous-map {
    padding: 20px;
    background-color: #fff;
    color: #2c3e50;
}

.map {
 padding: 0;
}

#map {
    height: 600px;
    width: 100%;
    color: #333;
}

/*******************************************
Login and registration
*******************************************/
.bloc-login {
    margin-top: 10vh;
    background-color: #ffffff;
    padding: 50px;
}

.btn-login {
    margin: 20px 0px;
    width: 100%;
}

.titre-login {
    margin-bottom: 40px;
}

#lien-accueil {
    margin-top: 40px;
}

/*******************************************
Mes observations
*******************************************/
.bloc-back {
    background: #ecf0f1;
    padding: 30px;
    color: #2c3e50;
}
.panel-group .panel {
    border-radius: 0;
    margin-bottom: 5px;
}
.panel-default {
    border: none;
}
.a-panel {
    color: #2c3e50;
}
.a-panel:hover, .a-panel:active, .a-panel:focus {
    color: #2c3e50;
}
.panel-default>.panel-heading {
    color: #2c3e50;
    background: #fff;
}
.panel-title {
    margin: 10px 0px;
    font-size: 1.1em;
}
.statut {
    margin: 10px 0px;
}

.image img {
    margin-left: auto;
    margin-right: auto;
}

.map-obs, .image {
    margin-top: 20px;
    height: 300px;
}

.bloc-map, .bloc-image, .bloc-message, .bloc-validation, .bloc-form {
    margin-top: 20px;
}

.user-message {
    padding: 20px;
    background: #ecf0f1;
}

.bloc-stat {
    height: 200px;
    margin-bottom: 40px;
    padding: 10px;
}

.stat {
    background: #fff;
    height: 100%;
}

.stat1 {
    background: #2c3e50;
}
.stat1 .nb-obs {
    color: #fff;
    font-size: 5em;
    margin-top: 10px;
}
.bloc-nb-obs {
    background: #fff;
    padding: 10px;
}
.bloc-nb-obs .titre-nb-obs{
    font-size: 1.4em;
    margin: 0;
    color: #2c3e50;
}

.bloc-valid, .bloc-attente, .bloc-refusee {
    height: 33.33333%;
}

.bloc-valid p, .bloc-attente p, .bloc-refusee p {
    padding: 10px;
    margin: 0;
}

.bloc-valid {
    background: #2ecc71;
    color: #fff;
}

.bloc-attente {
    border-top: 6px solid #2c3e50;
    border-bottom: 6px solid #2c3e50;
}

.bloc-refusee {
    background: #c0392b;
    color: #fff;
}
.nb-size {
    font-size: 2em;
}
.stat3 {
    background: #3498db;
}

.stat-image {
    height: 100%;
}
.stat-image p {
    padding: 5px;
    color: #fff;
}
.stat-image img {
    height: 85%;
}
/*******************************************
Validations
*******************************************/
.bloc-form p {
    margin-top: 20px;
}
.bloc-form textarea {
    height: 120px;
}
.bloc-form .btn {
    width: 100%;
}
/*******************************************
Validations
*******************************************/
#map-add {
    height: 400px;
}

.add-form .row{
    margin: 20px 0px;
}

#geoloc {
    margin-top: 22px;
}

.bloc-loc {
    background: #fff;
    padding: 20px;
    margin: 10px 15px;
}

.bloc-loc p {
    margin-bottom: 15px;
}

.fa-map-marker {
    margin-right: 10px;
}
