<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Accueil</title>
    </head>
    <body>
        <h1>Accueil</h1>
        <a href="/backoffice/ajouter">Ajouter une observation</a>
        <a href="/login">Connexion</a>
        <a href="/register">Inscription</a>
        <a href="/backoffice/mes-observations">Mes Observations</a>
        <a href="/backoffice/validations">Validation des observations</a>
        <a href="/backoffice/mon-compte">Mon Compte</a>
        <a href="/backoffice/admin">Administration</a>
    </body>
</html>
