<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
    </head>
    <body>
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        <h1>Admin</h1>
        <div class="">
            <h1>Particuliers : </h1>
            {% for a in users.amateurs %}
                <p>{{ a.username }}</p>
            {% endfor %}
        </div>
        <div class="">
            <h1>Naturalistes : </h1>
            {% for n in users.naturs %}
                <p>{{ n.username }}</p>
            {% endfor %}
        </div>
        <div class="">
            <h1>Admin : </h1>
            {% for a in users.admins %}
                <p>{{ a.username }}</p>
            {% endfor %}
        </div>
    </body>
</html>
