<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Création de votre compte par {{ admin.username }}</title>
    </head>
    <body>
        pseudo : {{ user.username }}
        <br>
        mdp : {{ pass }}
    </body>
</html>
