<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Votre compte a bien été activé, vous pouvez désormais vous connecter</title>
    </head>
    <body>
        Le statut de votre compte a été modifié par un administrateur.

        Votre compte est désormais : {{ status }}

        En cas de réclamation, contactez un administrateur
        <br>
        pseudo : {{ user.username }}
    </body>
</html>
