<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Votre compte a bien été activé, vous pouvez désormais vous connecter</title>
    </head>
    <body>
        Votre compte a bien été activé, vous pouvez désormais vous connecter
        <br>
        pseudo : {{ user.username }}
    </body>
</html>
