<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        Votre observation est passé du statut "En attente" à "{{ obs.status }}" avec le message suivant : <br>
        <p>{{ obs.validationMessage }}</p>
    </body>
</html>
